black
certifi
charset-normalizer
click
decorator
idna
imageio
imageio-ffmpeg
iniconfig
Jinja2
MarkupSafe
moviepy
mutagen
mypy-extensions
numpy
packaging
pathspec
Pillow
platformdirs
pluggy
proglog
PyQt6
PyQt6-Qt6
PyQt6-sip
PySide6
PySide6-Addons
PySide6-Essentials
pytest
pytube
qt-material
requests
shiboken6
tqdm
urllib3
